<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Health Fix</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="static/styles.css"/>
        <link type="text/css" rel="stylesheet" href="static/sliderstyle.css"/>
    </head>
    <body>
        
        <div class="logo">
            <a href="/"><img src="static/pic/logo.png" alt="logo" width="200px" height="62px"></a>
        </div>
        <div class="navbar">
        
            
            <div class="menu">
                  <a href="/">Home</a>
                  <a href="#news">Account</a>
                <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Categories
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="cancer.html">Cancer</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="search-container">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        
                </div>

            </div>
            
        </div>
        
      
        <div class="movie-listing">
            <ul>
                <li><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/whatiscancer.mp4" type="video/mp4">
                </video></li>
                <li><a href="/"></a><p>What is cancer?</p></li> 
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
            </ul>
            <ul>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Cancer grade</p></li>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
            </ul>
            <ul>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/giloma.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Gliomas</p></li>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
            </ul>
            <ul>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/breastc.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Breast cancer</p></li>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
            </ul>
            <ul>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="/"><video width="100%" height="450px" muted controls id="vid">
                    <source src="static/pic/CancerGrade.mp4" type="video/mp4">
                </video></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
                <li><a href="home.html"><img src="static/pic/2966327.png"></a></li>
                <li><a href="home.html"></a><p>Text til den enkle film/serie</p></li>
            </ul>
        </div>
        
        
        <div class="about">
            <h1><a href=""><h1>About</h1></a></h1>
            <div class="about_list">
                <ul>
                    <li><a href="home.html">Audio and Subtitles</a></li>
                    <li><a href="home.html">Help Centre</a></li>
                    <li><a href="home.html">Media Centre</a></li>
                    <li><a href="home.html">Jobs</a></li>
                </ul>
                <ul>
                    <li><a href="home.html">Privacy</a></li>
                    <li><a href="home.html">Cookies Preferences</a></li>
                    <li><a href="home.html">Contact Us</a></li>
                    <li><a href="home.html">Audio Description</a></li>
                </ul>
                <ul>
                    <li><a href="home.html">Gift Cards</a></li>
                    <li><a href="home.html">Invester relations</a></li>
                    <li><a href="home.html">Terms of Use</a></li>
                    <li><a href="home.html">Legal Notices</a></li>
                </ul>
                <ul>
                    <li><a href="home.html">Coporate Information</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

        

        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.dropbtn')) {
              var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                  myDropdown.classList.remove('show');
                }
              }
            }
        </script>
        
        <script>
            function currentDiv(n) {
              showDivs(slideIndex = n);
            }
                    function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlidesCancer");
              var dots = document.getElementsByClassName("demo");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
              }
              x[slideIndex-1].style.display = "block";
              dots[slideIndex-1].className += " w3-opacity-off";
            }
        </script>
        
        <script>
            function openForm() {
              document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
              document.getElementById("myForm").style.display = "none";
            }
        </script>
        
        
        
        
        
    </body>
</html>
<!--

-->
